<section class="container">
  <div class="card mb-1 article">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <img class="rounded-circle float-left" src="http://admin.carpoolsonora.com/Content/default-user.jpg" width="70">
          <h6 class="article-title text-truncate">
            <a routerLink="/usuario">{{ getUser(article.userId).name }}</a>
            &nbsp;
            <span class="text-muted">@{{ getUser(article.userId).username }}</span>
          </h6>
        </div>
        <div class="col-12">
          <h1>{{ article.title }}</h1>
          <p class="text-justify">
            {{ article.description }}
          </p>
          <a routerLink="/tag" class="badge badge-secondary mr-2" *ngFor="let t of article.tags">{{ t }}</a>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-2">
  <div class="card mb-1" *ngFor="let i of [1,2,3]">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <img class="rounded-circle float-left" src="http://admin.carpoolsonora.com/Content/default-user.jpg" width="50">
          <h6 class="article-title text-truncate mb-0">
            <a routerLink="/usuario">Nombre usuario</a>
            &nbsp;
            <span class="text-muted">@usuario</span>
          </h6>
        </div>
        <div class="col-12">
          <p class="text-justify">
            Lorem ipsum dolor sit amet,
            <code>consectetur adipiscing elit</code>. Pellentesque viverra fermentum lorem nec ultrices. Sed eros ligula, congue ac mi et,
            <code>placerat aliquam eros</code>. Nunc dignissim, eros sed imperdiet sollicitudin, velit ligula convallis metus,
            <code>vitae iaculis tellus dolor vel quam</code>. In eu volutpat metus.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">Comentario</div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-group mb-1">
          <textarea class="form-control form-control-sm" placeholder="Descripción" formControlName="comment"></textarea>
        </div>
      </form>
    </div>
  </div>
</section>