<section class="container-fluid">
  <div class="row">
    <div class="col-9">
      <div class="card mb-3">
        <div class="card-body">
          <div>
            <img class="rounded-circle float-left" src="http://admin.carpoolsonora.com/Content/default-user.jpg" width="50">
            <h6 class="article-title text-truncate">
              <a routerLink="/usuario">{{ currentUser.name }}</a>
              &nbsp;
              <span class="text-muted">@{{ currentUser.username }}</span>
            </h6>
          </div>
          <form [formGroup]="formNewArticle">
            <div class="form-group mb-1">
              <input class="form-control form-control-sm" placeholder="Titulo" formControlName="title">
            </div>
            <div class="form-group mb-1">
              <textarea class="form-control form-control-sm" placeholder="Descripción" formControlName="description"></textarea>
            </div>
            <div class="form-group mb-1">
              <!-- <input class="form-control form-control-sm" placeholder="Tags" formControlName="tags"> -->
              <ejs-multiselect [dataSource]="tags" [mode]="'Delimiter'" [placeholder]="'Tags'" formControlName="tags"></ejs-multiselect>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="float-right">
            <button class="btn btn-primary btn-sm" (click)="create()">Crear artículo</button>
          </div>
        </div>
      </div>
      <div class="card mb-3" *ngFor="let a of articles">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <img class="rounded-circle float-left" src="http://admin.carpoolsonora.com/Content/default-user.jpg" width="50">
              <h6 class="article-title text-truncate">
                <a [routerLink]="['/article', a.id]">{{ getUser(a.userId).name }}</a>
                &nbsp;
                <span class="text-muted">@{{ getUser(a.userId).username }}</span>
              </h6>
            </div>
            <div class="col-12">
              <h6 class="text-truncate">{{ a.title }}</h6>
              <p class="article-text text-truncate">{{ a.description }}</p>
              <a routerLink="/tag" class="badge badge-secondary mr-2" *ngFor="let t of a.tags">{{ t }}</a>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="float-left">
            <span class="text-muted float-right">8 comentarios</span>
          </div>
          <div class="float-right">
            <a [routerLink]="['/article', a.id]" class="btn btn-primary btn-sm float-right">Ver más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-3">
        <div class="card-body">
          <p class="text-muted mb-1">Proyectos</p>
          <a routerLink="/project" class="btn btn-info btn-block" *ngFor="let p of projects">{{ p.name }}</a>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <p class="text-muted mb-1">Tags</p>
          <a routerLink="/tag" class="badge badge-secondary mr-2" *ngFor="let t of tags">{{ t }}</a>
        </div>
      </div>
    </div>
  </div>
</section>