@import "~bootstrap/scss/bootstrap";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import '~@syncfusion/ej2-ng-dropdowns/styles/bootstrap.css';

section {
    padding-top: 70px;
}

textarea {
    resize: none;
}

.selectable {
    cursor: pointer;
}

.article-title {
    margin-left: 60px;
    line-height: 50px;
}